# Python
#this is just a text file that tells git which files to ignore
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment variables and secrets
backend/config.py 

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 

# Add to existing .gitignore
.env

*.db